<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script>
      var id = 0
      function test(){
        id++
         $.ajax({
          url:'/api',
          type:'post',
          data:{name: 'raindrop', id: id},
          success:function(res){
              console.log(res)
        }
    });
      }
    </script>
  </head>
  <body>
   <marquee>TEST</marquee>
   <br>
   <div style="width: 50px; border: 1px solid black;" onclick="test()">AA</div>
  </body>
</html>
